body {
  font-family: "Roboto";
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

GoogleStreetview {
  width: 100%;
  height: 1400px;
}

#home-container {
  width: 100%;
  height: 100vh;
}

#home-container > {
  text-decoration: none;
}

#sv-and-map {
  display: flex;
  margin: auto;
  align-items: flex-end;
}

#sv-container {
  padding: 10px;
}

#map-container {
  padding: 10px;
  margin-bottom: 4.5%;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #9decca;
}

#round-and-score {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 18px;
  right: 15px;
  z-index: 100;
  background-color: #46237a;
  height: 20vh;
  border-radius: 10px;
  font-family: "Roboto";
  width: 25%;
}

#round-info,
#score-info {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #fcfcfc;
  height: 50%;
  width: 35%;
}

#round-info {
  margin: auto 0.5rem auto 1rem;
}

#score-info {
  margin: auto 1rem auto 0.5rem;
}

#round-info > label,
#score-info > label {
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #46237a;
  padding-bottom: 0.1rem;
}

#round-info > p,
#score-info > p {
  font-size: 30px;
  color: #256eff;
  margin: 0;
  text-align: right;
  padding-top: 0.75rem;
}

.divisor {
  font-size: 14px;
  color: black;
}

#submit-guess-button,
#next-round-button {
  font-size: 18px;
}

#submit-guess-button {
  position: absolute;
  right: 8%;
  bottom: 18px;
  background-color: #3ddc97;
}

#submit-guess-button:hover {
  background-color: #23be7b;
}

#next-round-button,
#new-game-button {
  position: absolute;
  background-color: #46237a;
  color: white;
}

#next-round-button:hover,
#new-game-button:hover {
  background-color: #2d174f;
}

#next-round-button {
  bottom: 5px;
  left: 45%;
}

#round-results {
  margin: 0.8rem auto 1rem auto;
  width: fit-content;
  padding: 1rem;
  background-color: #3ddc97;
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 18px;
  z-index: auto;
  text-align: center;
}

.result-value {
  font-size: 22px;
  color: #3649bd;
}

#score-slider,
#final-score-slider {
  padding: 4px;
  margin: 5px auto 5px auto;
  background-color: #fcfcfc;
}

#game-summary {
  width: 66%;
  margin: auto;
  background-color: #9decca;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

#final-score {
  font-size: 26px;
  color: #3649bd;
}

#final-score-slider {
  width: 33%;
}

#game-table {
  background-color: #fcfcfc;
  padding: 10px;
  width: 95%;
  margin: 1rem auto 0;
  border-radius: 10px;
}

#new-game-button {
  top: 580px;
  left: 46%;
  font-size: 20px;
  padding: 8px 10px;
}
