body {
  font-family: sans-serif;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

GoogleStreetview {
  width: 100%;
  height: 1400px
}

#home-container {
  width: 100%;
  height: 100vh
}

#home-container> {
  text-decoration: none;
}

#sv-and-map {
  display: flex;
  margin: auto;
  align-items: flex-end;
}

#sv-container {
  padding: 10px
}

#map-container {
  padding: 10px;
  margin-bottom: 8%
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #9DECCA;
}

#round-and-score {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 8%;
  right: 15px;
  z-index: 100;
  background-color: #46237a;
  height: 20vh;
  border-radius: 10px;
  font-family: 'Roboto';
  width: 25%;
}

#round-info,#score-info {
  padding: .5rem;
  border-radius: 5px;
  background-color: #fcfcfc;
  height: 50%;
  width: 35%;
}

#round-info {
  margin: auto .5rem auto 1rem
}

#score-info {
  margin: auto 1rem auto .5rem;
}

#round-info>label,#score-info>label {
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #46237a;
  padding-bottom: .1rem;
}

#round-info>p,#score-info>p {
  font-size: 30px;
  color: #256eff;
  margin: 0;
  text-align: right;
  padding-top: .75rem;
}

.divisor {
  font-size: 14px;
  color: black;
}

#submit-guess-button,#next-round-button {
  font-size: 18px;
  background-color: #3DDC97;
}

#submit-guess-button:hover,#next-round-button:hover {
  background-color: #23BE7B;
}

#submit-guess-button {
  position: absolute;
  right: 8%;
  bottom: 7.5vh;
}
